{% extends "layout.html" %}
{% block body %}
  {% if session.username %}
    <form action="{{ url_for('create_blog') }}" method="post" class="add-entry">
      <dl>
        <dt>标题:
        <dd><input type="text" size="30" name="title">
        <dt>内容:
          <dd><textarea id="content" name="content">
        </textarea>
          <script type="text/javascript">
              CKEDITOR.replace("content");
          </script>
        <dd><input type="submit" value="添加">
      </dl>
    </form>
  {% endif %}
  <ul class="entries">
  {% for entry in entries %}
    <li style="border-bottom: solid 2px deepskyblue">
    <form action="{{ url_for('update_blog', blog_id=entry.id) }}" method="post">
        <input type="submit" name="action" value="Delete" style="float: right">
        <input type="submit" name="action" value="Update" style="float: right">
        <h2>{{ entry.title }}</h2>{{ entry.content|safe }}
        <h6>{{ entry.time }}</h6>
        <input type="submit" name="action" value="Comment" style="float: right">
    </form>
    </li>
  {% else %}
    <li><em>这个人很懒，什么都没有写～</em></li>
  {% endfor %}
  </ul>
{% endblock %}