{% extends "layout.html" %}
{% block content %}

  {% for entry in entries %}
    <form action="{{ url_for('update_blog', blog_id=entry.id) }}" method="post">
        <div class="post">
				<h2>{{ entry.title }}</h2>
				<div><span class="date">{{ entry.time }}</span><span class="categories">作者：{{ entry.username }}</span></div>
				<div class="description" style="width: 100%;">
					<p><img src={{ entry.email }} alt="" width="100" height="100" />
                    {{ entry.content }}</p>
				</div>
				<p class="comments">评论 - <a href="">17</a>   <span>|</span>   <a href="">全部</a></p>
			</div>
    </form>

  {% else %}

    <li><em>这个人很懒，什么都没有写～</em></li>
  {% endfor %}

{% endblock %}